body{
    display:flex;
    margin:0;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    --clearcontrast:#e0f8d0;
    --contrast:#88c070;
    --background-dark:#081820;
    --background-light:#346856;
}

/*first section*/
.top{
    background-color: var(--background-dark);
    min-height: 50vh;
    color: var(--clearcontrast);
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    padding-right: 10vw;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: var(--clearcontrast);
    
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:5vw;
}
a{

    text-decoration: none;
    color: var(--contrast);
    font-size: 18px;
}
.title{
    display: flex;
    flex-direction: row;
    height: 50vh;
    justify-content: center;
    align-items: center;
    padding: 64px 0px;
    gap: 64px;
}
.text,.image{
    display: flex;
    height: 50vh;
    width: 50vw;
}
.text{
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
    gap:3vh;
}
.upper-text{
    font-size: 48px;
    font-weight: 900;
    color:var(--clearcontrast);
}
.sub-text{
    color: var(--contrast);
    font-size: 18px;
}
button{
    color:var(--clearcontrast);
    
    background-color: var(--background-light);
    width: 10vw;
    border: none;
    border-radius: 10%;
    height: 6vh;
}
.image{
    background-color: var(--background-light);
    justify-content: center;
    align-items: center;
}


/*second section*/
.information{
    background-color:var(--clearcontrast);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 5vw;
    gap:2vh;
    align-items: center;
}
.info-title{
    font-size: 36px;
    font-weight: 900;
    color:var(--background-dark);
}

.info-card{
    display: flex;
    flex-direction: column;
    gap:2vh;
    height: auto;
    width: 200px;
}
.card-image{
    height: 200px;
    width: 200px;
    border: solid 3px var(--background-light);
    border-radius: 10%;
    align-self: center;
    
    
}
.card-text{
    text-align: center;
    
}

/*third section*/
.quote{
    background-color: var(--contrast);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    padding:200px 200px 0px 200px;
    gap:10vh;
}
.quote-text{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: var(--background-dark);
}
.quote-author{
    align-self: flex-end;
    font-weight: bold;
    font-size: 16px;
    color:var(--background-dark);
}

/*fourth section*/
.sign-up{
    min-height: 30vh;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 64px 0px 64px 0px;
    background-color: var(--clearcontrast);
}
.call-card{
    background-color: var(--background-light);
    border-radius: 2%;
    padding: 32px;
    display: flex;
    gap:150px;
    flex-direction: row;
    align-content: center;


}
.call-uppertext{
    font-size: 32px;
    color:var(--clearcontrast);
    margin-top:5vh;   

}
.call-subtext{
    font-size: 24px;
    color:var(--contrast);
}

.call-button{
    border: solid 3px var(--clearcontrast);
    border-radius: 5%;
    align-self: center;
}
/*fifth section*/
.bottom{
    background-color: var(--background-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    padding:5vh;
    min-height: 10vh;
}
.footer-text{
    color:#e5e7e6;
    font-size: 24px;
}